<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta a name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>登录</title>

    #parse("sys_param.vm")
    #parse("addon/app/css.vm")

    <link href="$!{CONTEXT_PATH}/static/app/css/mobile.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <header>
            <a href="regis.html" class="fr">快速注册<i class="iconfont icon-shuangjiantou"></i></a>
        </header>
        <div class="banner">
            <img src="$!{CONTEXT_PATH}/static/app/image/m_logo.png" alt="logo" />
        </div>
        <div class="loginbox">
            <ul>
                <li>
                    <label>手机号:</label>
                    <input type="text" placeholder="请输入正确有效的手机号"/>
                </li>
                <li>
                    <label class="pass">密&nbsp;&nbsp;&nbsp;码:</label>
                    <input type="password" placeholder="请输入密码"/>
                    <i class="iconfont icon-eye look_pass"></i>
                </li>
            </ul>
            <button class="btn btn-login">登录</button>
            <a href="forget.html" class="forget">忘记密码</a>
        </div>
        <div class="link">
            <p>第三方账户登录</p>
            <div class="list">
                <a href="#" class="weixin"><i class="iconfont icon-weixin"></i></a>
                <a href="#" class="weibo"><i class="iconfont icon-weibo"></i></a>
                <a href="#" class="qq"><i class="iconfont icon-qq"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
    #parse("addon/app/javascript.vm")
</html>
