<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>手机号码注册</title>

    #parse("sys_param.vm")
    #parse("addon/css.vm")
    #parse("addon/javascript.vm")
    #parse("addon/jQueryValidationEngine.vm")
</head>
<body>
    <form id="registerForm" action="$!{CONTEXT_PATH}/p/register" method="post">
        <input type="hidden" name="type" value="1">
        <table>
            <tr>
                <td colspan="2"><input class="form-control validate[required, custom[telPhone], maxSize[11], minSize[11], ajax[validPhone]]" type="text" name="phoneNo" placeholder="手机号码"
                                       data-errormessage-value-missing="* 请输入手机号码" data-errormessage="* 请输入正确的手机号码"></td>
            </tr>
            <tr>
                <td colspan="2"><input class="form-control validate[required,minSize[8]]" type="text" name="password" placeholder="密码"
                                       data-errormessage-value-missing="* 请输入密码" data-errormessage="* 密码不少于8位"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control validate[required,custom[number],maxSize[6],minSize[6]]"
                           name="code" placeholder="验证码" data-errormessage-value-missing="* 请输入验证码" data-errormessage="* 请输入6位数字验证码"></td>
                <td><input type="button" onclick="sendCode()" value="发送验证码"></td>
            </tr>
            <tr>
                <td colspan="2"><input class="btn-success" type="submit" value="注册"></td>
            </tr>
        </table>
    </form>
</body>
</html>
<script type="text/javascript">

    $.validationEngineLanguage.allRules.validPhone = {
        'url': '$!{CONTEXT_PATH}/p/validPhoneNo',
        'alertText': '* 手机号码已注册',
        'alertTextLoad': '正在校验手机号码'
    }

    function sendCode() {
        var phoneNo = $('#registerForm').find('input[name="phoneNo"]').val();
        if(phoneNo == '') {
            alert('请输入手机号码');
            return;
        }
        if (!checkTel(phoneNo)) {
            alert("请输入正确的手机号码");
            return;
        }

        $.ajax({
            url: base + '/p/identifyCode/sendCode',
            data: {
                'phoneNo': $('#registerForm').find('input[name="phoneNo"]').val(),
                'type' : 1 // 表示注册
            },
            type: 'post',
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('send error');
            },
            success: function(data) {
                if(data.flag) {
                    alert('send success');
                } else {
                    ajaxErrorCallBack(data);
                }
            }
        });
    }

    function checkTel(value){
        var isMob= /^(13[012356789][0-9]{8}|15[012356789][0-9]{8}|18[02356789][0-9]{8}|147[0-9]{8}|1349[0-9]{7})$/;

        if(isMob.test(value)) {
            return true;
        }
        else{
            return false;
        }
    }

    function beforeCall(form, options){

        return true;
    };

    function ajaxValidationCallback(status, form, json, options){
        if(status === true){
            var data = json;
            if(data.flag) {
                alert('register success');
            } else {
                alert(data.msg);
            }
        } else {
            alert('register error');
        }
    };

    $(function(){
        $('#registerForm').validationEngine({
            ajaxFormValidation: true,
            ajaxFormValidationMethod: 'post',
            onAjaxFormComplete: ajaxValidationCallback,
            onBeforeAjaxFormValidation: beforeCall
        });
    });
</script>