#set($layout = "layout.vm")

<div class="container content">
    <div class="row paginationDiv">
        <div class="col-sm-12">
            <div class="page-nav">
                <a href="$!{CONTEXT_PATH}/ledgerWaste/list#ledger-waste">废弃物台账</a>
                &gt;
                <a href="javascript:void(0)" class="last">废弃物台账明细</a>

                <button class="reback" onclick="goBack()"><i class="iconfont icon-left"></i>返回</button>
            </div>
            <!--search  area-->
            <div class="searchArea">
                <form id="searchForm" action="$!{CONTEXT_PATH}/ledgerWaste/detailList?ledgerId=$!{request.getParameter("lid")}" method="post">

                </form>
##                <button class="btn btn-primary search" onclick="qryData('searchForm')"><i class="iconfont icon-sousuo"></i>查询</button>
##                <button class="btn btn-success reset" onclick="reset('searchForm')"><i class="iconfont icon-shuaxin"></i>重置</button>
            </div>
            <!--table area-->
            <div class="table_area">
                <input type="hidden" id="p_number" value="">

                <div class="queryResultList" id="queryResultList">
                </div>

                #paginationDiv()
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {

        if(sessionStorage.getItem('w_s_from') == 'b') {
            $('#p_number').val(sessionStorage.getItem('w_s_number'));
        }

        sessionStorage.removeItem('w_s_from');
        sessionStorage.removeItem('w_s_number');

        qryData('searchForm');
    });

    function reset(form) {
        $('#searchForm')[0].reset();
    }

    function goBack() {
        sessionStorage.setItem('w_f_from', 'b');
        history.back(-1);
    }
</script>