#set($layout = "/sk/ledger/sterilize/layout.vm")

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>消毒内容</th>
        <th>消毒数量</th>
        <th>消毒方法</th>
        <th>消毒时间</th>
        <th>消毒人</th>
        <th>监督人</th>
##        <th>所属企业</th>
        <th>索票索证</th>
    </tr>
    </thead>
    <tbody>
        #foreach($row in $pageInfo.list)
            <tr>
                <td>$!{row.itemName}</td>
                <td>$!{row.quantity}</td>
                <td>$!{row.method}</td>
                <td>$!{row.doTime}</td>
                <td>$!{row.operater}</td>
                <td>$!{row.checker}</td>
##                <td>$!{row.productNo}</td>
                <td>
                    <a href="javascript:void(0);" class="btn_detailList" src="$!{CONTEXT_PATH}/ledgerSterilize/ticket?pid=$!{row.sterilizeId}&from=d">票证</a>
                </td>
            <tr>
        #end
    </tbody>
</table>
#pagination()

<script type="text/javascript">
    $(function() {
       $('.btn_detailList').click(function() {

           var paginationDiv = $('#searchForm').parents('.paginationDiv');
           var pageBar = paginationDiv.find('.pagerBar');
           var oldCondition = convertToObject(pageBar.attr('oldCondition'));

           sessionStorage.setItem('s_s_number', $(this).parents('#queryResultList').find('.p_number').val());

           location.href = $(this).attr('src') + '#ledger-sterilize';
       });
    });
</script>
