#set($layout = "/sk/ledger/dinner/layout.vm")

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>举办者名称</th>
        <th>就餐人数</th>
        <th>联系电话</th>
        <th>举办事宜</th>
        <th>举办时间</th>
    </tr>
    </thead>
    <tbody>
        #foreach($row in $pageInfo.list)
        <tr>
            <td>$!{row.dinnerName}</td>
            <td>$!{row.dinnerNum}</td>
            <td>$!{row.phone}</td>
            <td>$!{row.matters}</td>
            <td>$!{row.dinnerTime}</td>
        <tr>
        #end
    </tbody>
</table>

#pagination()