#set($layout = "/sk/ledger/travel/layout.vm")

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>旅行社名称</th>
        <th>就餐团队名称</th>
        <th>来源地</th>
        <th>就餐人数</th>
        <th>就餐时间</th>
    </tr>
    </thead>
    <tbody>
        #foreach($row in $pageInfo.list)
        <tr>
            <td>$!{row.travelName}</td>
            <td>$!{row.groupName}</td>
            <td>$!{row.sourceFrom}</td>
            <td>$!{row.peopleNum}</td>
            <td>$!{row.dinnerTime}</td>
        <tr>
        #end
    </tbody>
</table>

#pagination()