#set($layout = "layout.vm")
#parse("addon/My97DatePicker.vm")
#parse("addon/uploadify.vm")

<div class="container content">
    <div class="row paginationDiv">
        <div class="col-sm-12">
            <!--<h1 class="page-header">Dashboard</h1>-->
            <!--search  area-->
            <div class="searchArea">
                <form id="searchForm" action="$!{CONTEXT_PATH}/ledgerPurchase/list" method="post">
                    <label>采购台账日期：</label>
                    <div class="form-group">
                        <div class="inputbox form-control">
                            <input type="text" name="startDate" id="startDate" class="" onclick="WdatePicker({el:'startDate', dateFmt:'yyyyMMdd', maxDate: '#F{$dp.$D(\'endDate\')}'})" readonly style="cursor: pointer;"/>
                            <i class="iconfont icon-date" style="cursor: pointer;"></i>
                        </div>
                        ——
                        <div class="inputbox form-control">
                            <input type="text" name="endDate" id="endDate" class="" onclick="WdatePicker({el:'endDate', dateFmt:'yyyyMMdd', minDate: '#F{$dp.$D(\'startDate\')}'})" readonly style="cursor: pointer;"/>
                            <i class="iconfont icon-date" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </form>
                <button class="btn btn-primary search" onclick="qryData('searchForm');"><i class="iconfont icon-sousuo"></i>查询</button>
                <button class="btn btn-warning upload" data-toggle="modal" data-target="#upload"><i class="iconfont icon-shangchuan"></i>上传台账</button>
            </div>

            <!--table area-->
            <div class="table_area">
                <input type="hidden" id="p_number" value="">

                <div class="queryResultList" id="queryResultList">
                </div>

                #paginationDiv()

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    上传台账
                </h4>
            </div>
            <div class="modal-body">
                <form id="uploadForm">
                    <input type="hidden" name="rowStart" value="3" />
                    <input type="hidden" name="colTotal" value="8" />
                    <input type="hidden" name="serviceKey" value="purchase" />

                    <input type="hidden" name="filePath" id="filePath">
                </form>

                <div class="account">
                    <p><label>模板下载：</label>采购台账模板.xls(23k)<a href="$!{CONTEXT_PATH}/fileDownload/purchase"><i class="iconfont icon-xiazai"></i></a></p>
                    <p>
                        <label>上传台账</label>
                        <input type="text" id="fileName" placeholder="请选择文件" disabled="disabled"/>
                        <span class="fileupload btn">
##                                    <span><i class="iconfont icon-wenjianjia"></i>选择文件</span>
                        <input type="file" id="uploadBtn" class="upload"/>
                        </span>
                        <button type="button" class="btn btn-warning upload"><i class="iconfont icon-shangchuan"></i>上传</button>
                    </p>
                    <p id="queue"></p>
                    <p id="result"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn-baocun"><i class="iconfont icon-baocun"></i>保存</button>
                <button type="button" class="btn btn-default" id="btn-quxiao" data-dismiss="modal"><i class="iconfont icon-cuowu"></i>取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript">
    function modalWait() {
        showMask();
        // 模态框禁用隐藏功能
//        $('#upload').attr('data-backdrop', 'static');
//        $('#upload').attr('data-keyboard', false);

        // 禁用取消和X按钮
        $('#btn-quxiao').removeAttr('data-dismiss');
        $('.close').removeAttr('data-dismiss');
    }

    function modalActive() {
        hideMask();
        // 让模态框启用隐藏功能
//        $('#upload').removeAttr('data-backdrop');
//        $('#upload').removeAttr('data-keyboard');

        // 启用取消和X按钮
        $('#btn-quxiao').attr('data-dismiss', 'modal');
        $('.close').attr('data-dismiss', 'modal');

        $('#queue').empty();
        $('#result').empty();
        $('#filePath').val('');
    }

    // 调用模态框的show方法调用
    $('#upload').on('show.bs.modal', function () {
        // 上传输入框设置为空
        $('#fileName').val('');
        modalActive();
    });

    $(function() {
        // 如果是返回的，记录之前的状态
        if(sessionStorage.getItem('p_f_from') == 'b') {
            $('#p_number').val(sessionStorage.getItem('p_f_number'));
            $('input[name=startDate]').val(sessionStorage.getItem('p_f_startDate'));
            $('input[name=endDate]').val(sessionStorage.getItem('p_f_endDate'));

        }

        // 刷新页面时，清楚该页面的缓存
        sessionStorage.removeItem('p_f_from');
        sessionStorage.removeItem('p_f_number');
        sessionStorage.removeItem('p_f_startDate');
        sessionStorage.removeItem('p_f_endDate');

        // 查询数据
        qryData('searchForm');

        // 上传
        $('.upload').click(function() {
            $('#queue').show();

            $('#uploadBtn').uploadify('upload', '*');
        });

        // 保存按钮
        $('#btn-baocun').click(function() {
            modalWait();

            if($('#filePath').val() == '') {
                alert('请先上传Excel文件');
                modalActive();
                return;
            }

            var url = base + '/excelUpload';
            var data = $('#uploadForm').serialize();
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: data,
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    modalActive();
                },
                success : function (data, textStatus) {
                    $('#upload').modal('hide');

                    qryData('searchForm');
                }
            });
        });

        // 取消按钮
        $('#btn-quxiao').click(function() {

        });

        $('.icon-date').click(function() {
            $(this).prev('input').click();
        });
    });

    $('#uploadBtn').uploadify({
        width : 92,
        height: 20,
        swf : '$!{CONTEXT_PATH}/addon/uploadify/uploadify.swf',
        uploader : '$!{CONTEXT_PATH}/fileUpload',
        fileDesc : '请选择2003版本Excel文件',
        fileTypeExts : '*.xls',
        method : 'post',
        multi : false,
        auto: false,
        queueSizeLimit: 1,
        fileSizeLimit: '5MB',
        buttonText : '<i class="iconfont icon-wenjianjia"></i>选择文件',
        fileObjName : 'file',
        hideButton: false,
        queueID: 'queue',
        overrideEvents: ['onSelectError', 'onUploadError', 'onDialogClose'],
        onUploadSuccess: function(file, data, response) {
            $('#result').html('Excel已经上传，点击保存后开始保存数据');
            $('#filePath').val(data);
        },
        onSelect: function(file, data) {
            $('#fileName').val(file.name);
            $('#filePath').val('');
            $('#result').html('');

            $('#queue').hide();
        },
        onCancel: function(file) {
            $('#fileName').val('');
        },
        onSelectError : function(file, errorCode, errorMsg) {
            var msgText = "选择失败\n";
            switch (errorCode) {
                case SWFUpload.QUEUE_ERROR.QUEUE_LIMIT_EXCEEDED:
                    msgText += "每次最多上传 " + this.settings.queueSizeLimit + "个文件,取消后重新选择";
                    break;
                case SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT:
                    msgText += "文件大小超过限制( " + this.settings.fileSizeLimit + " )";
                    break;
                case SWFUpload.QUEUE_ERROR.ZERO_BYTE_FILE:
                    msgText += "文件大小为0";
                    break;
                case SWFUpload.QUEUE_ERROR.INVALID_FILETYPE:
                    msgText += "文件格式不正确，仅限 " + this.settings.fileTypeExts;
                    break;
                default:
                    msgText += "错误代码：" + errorCode + "\n" + errorMsg;
            }
            alert(msgText);
        },
        onUploadError : function(file, errorCode, errorMsg, errorString) {
            // 手工取消不弹出提示
            if (errorCode == SWFUpload.UPLOAD_ERROR.FILE_CANCELLED
                    || errorCode == SWFUpload.UPLOAD_ERROR.UPLOAD_STOPPED) {
                return;
            }
            var msgText = "上传失败\n";
            switch (errorCode) {
                case SWFUpload.UPLOAD_ERROR.HTTP_ERROR:
                    msgText += "HTTP 错误\n" + errorMsg;
                    break;
                case SWFUpload.UPLOAD_ERROR.MISSING_UPLOAD_URL:
                    msgText += "上传文件丢失，请重新上传";
                    break;
                case SWFUpload.UPLOAD_ERROR.IO_ERROR:
                    msgText += "IO错误";
                    break;
                case SWFUpload.UPLOAD_ERROR.SECURITY_ERROR:
                    msgText += "安全性错误\n" + errorMsg;
                    break;
                case SWFUpload.UPLOAD_ERROR.UPLOAD_LIMIT_EXCEEDED:
                    msgText += "每次最多上传 " + this.settings.uploadLimit + "个";
                    break;
                case SWFUpload.UPLOAD_ERROR.UPLOAD_FAILED:
                    msgText += errorMsg;
                    break;
                case SWFUpload.UPLOAD_ERROR.SPECIFIED_FILE_ID_NOT_FOUND:
                    msgText += "找不到指定文件，请重新操作";
                    break;
                case SWFUpload.UPLOAD_ERROR.FILE_VALIDATION_FAILED:
                    msgText += "参数错误";
                    break;
                default:
                    msgText += "文件:" + file.name + "\n错误码:" + errorCode + "\n"
                            + errorMsg + "\n" + errorString;
            }
            alert(msgText);
        }
    });
</script>