<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>手机号码注册</title>

    #parse("sys_param.vm")
    #parse("addon/css.vm")
    #parse("addon/javascript.vm")
    #parse("addon/wxutil.vm")
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
<button class="btn btn-success" onclick="doHome()">到处逛逛</button>
<button class="btn btn-success" onclick="doAuthen()">认证</button>
<button class="btn btn-success" onclick="doRequest()">邀请注册</button>
</body>
</html>
<script type="text/javascript">
    $(function() {
        wx_config(ready);
    });

    // 到处逛逛
    function doHome() {

    }

    // 认证
    function doAuthen() {
        location.href = '$!{CONTEXT_PATH}/p/patient/authen';
    }

    // 邀请注册
    function doRequest() {

    }

    function trigger(res) {
        alert('用户点击分享到朋友圈');
    }

    function success(res) {
        alert('已分享');
    }

    function cancel(res) {
        alert('已取消');
    }

    function ready() {
        shareTimeLine('傅水军', 'http://www.baidu.com', '', trigger, success, cancel);
    }

</script>